.container {
  padding: 20px;
  width: 300px;
  border: 1px solid black;
}
.text-wrapper {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid black;
}
img {
  width: 300px;
}
ul {
  list-style: none;
  padding: 0;
}
.list-labels {
  font-weight: bold;
}
